body#app {
	background: black;
	color: white;
}

body#messages, input, textarea {
	background: midnightblue;
	color: white;
}

input, textarea, button, iframe {
	border: 1px solid cyan;
}

input:focus, textarea:focus, iframe:focus {
	background: #339;
}

button {
	background: blue;
	color: white;
}

button:hover, button:focus {
	background: #55f;
}

*:disabled { color: grey; }
.message.me > .name { color: lightgreen; }
a:link { color: lightblue; }
a:visited { color: pink; }



/*
body, textarea, input, button { font-size: x-large; }
.content_input { height: 1.5em; }
*/
