* {
	color: black;
}

body#app {
	background: white;
}

body#messages, input, textarea {
	background: #aaa;
}

input, textarea, button, iframe {
	background: #eee;
	border: 1px solid #999;
}

input:focus, textarea:focus, iframe:focus {
	background: #ddd;
}

button {
	background: #aaa;
}

button:hover, button:focus {
	background: #888;
}


/* TODO check the following: */

/*

*:disabled { color: grey; }
.message.me > .name { color: lightgreen; }
a:link { color: lightblue; }
a:visited { color: pink; }

*/



/*
body, textarea, input, button { font-size: x-large; }
.content_input { height: 1.5em; }
*/
