:root {
	--lilac: #cdb4db;
	--light-pink: #ffe0f0;
	--pink: #fcd;
	--cyan: #bde0fe;
	--teal: #a2d2ff;
	--yellow: #fec;
	--dark-pink: #c46;
	--peach: #ffc0cb;
	--light-blue: #ccf

	--text: black;
	--border: black;
	--frame: var(--light-blue);
	--background: var(--yellow);
	--input: var(--light-pink);
	--focus: var(--pink);
	--button: var(--cyan);
	--button-focus: var(--teal);
}

* {
	color: var(--text);
}

body#app {
	background: var(--frame);
}

body#messages {
	background: var(--background);
}

input, textarea, button, iframe {
	background: var(--input);
	border: 1px solid var(--border);
}

input:focus, textarea:focus, iframe:focus {
	background: var(--focus);
}

button {
	background: var(--button);
}

button:hover, button:focus {
	background: var(--button-focus);
}


/* TODO check the following: */

/*

*:disabled { color: grey; }
.message.me > .name { color: lightgreen; }
a:link { color: lightblue; }
a:visited { color: pink; }

*/



/*
body, textarea, input, button { font-size: x-large; }
.content_input { height: 1.5em; }
*/
