:root {
	--col0: #f18;
	--col1: #f39;
	--col2: #f5a;
	--col3: #f7b;
	--col4: #f9c;
	--col5: #fbd;
	--col6: #fde;
	--col7: white;

	--text: black;
	--border: var(--col2);
	--frame: var(--col2);
	--input: var(--col3);
	--focus: var(--col4);
	--background: var(--col5);
	--button: var(--col6);
	--button-focus: var(--col7);
}

*, input, textarea, button {
	color: var(--text);
}

body#app {
	background: var(--frame);
}

body#messages {
	background: var(--background);
}

input, textarea, button, iframe {
	background: var(--input);
	border: 1px solid var(--border);
}

input:focus, textarea:focus, iframe:focus {
	background: var(--focus);
}

button {
	background: var(--button);
}

button:hover, button:focus {
	background: var(--button-focus);
}
