/decrypted_src
xor-c
.DS_Store
/models
.*
*.bak
*~
*.old
*.new
venv
node_modules
__pycache__
/c/perlxsi.c
ref
/apps/alfred/mission.txt
commit-message.*
/adm/nginx/banned_ips.conf
tracks
*.log
*.o
sparkjoy

# check output files
*.lint
*.lint.dedup

# state files
rooms
rooms.*
!rooms.dist
/schedule.tsv
/webchat/static/push-docs
/webchat/static/users

# config files
/webchat/static/config.js
/config*.sh

# secrets
/secrets.sh

# data files
/geo/country_city_timezone.tsv
/safety/nsfw_words

# cache files
/text/dictionaries.pkl

# canon symlinks
/canon

# symlinks for dev
/cz/old
/cz/src
/exclude

# derived files
/code/lang.rec
/package-lock.json
/prompt/prompts.txt
/prompt/prompts2.txt
/speech/speech-models-en.txt
/project/log.txt
/allemande.egg-info
/tools/tools_help.txt
/pix/banner?.*
/visual/everyone_count.txt
/visual/everyone.txt
/visual/people_count.txt
/visual/people.txt
/visual/girls_count.txt
/visual/girls.txt
/visual/boys_count.txt
/visual/boys.txt
/visual/nonbinary_count.txt
/visual/nonbinary.txt
/plan/*.dot
/plan/all
/webchat/static/service_worker_gen.js
/webchat/static/room_gen.css
/allemande-deps_0.1_all.deb
/apps/pdev/design-chat.html
/site/epic.html
/c/sea.h
/webchat/all-icons-unicode.txt
/webchat/icons.txt
/webchat/icons-unicode.txt
/webchat/static/icons.css
/webchat/static/icons.woff2
/doc/nsfw/guide.md

# agents
/agents/nsfw
/agents/cartoon
/agents/celeb
/agents/disney

# 3rd-party content
/code/pop.pdf
/code/pop.txt
/code/rules.txt
/classify/classification/quality-map-2.tsv
/pretrained_models
/image/vision.md

# 3rd-party tools and libraries
/js/mousetrap
/webchat/static/d3-graphviz.min.js
/webchat/static/wasm.min.js
/webchat/static/d3.min.js
/webchat/static/graphvizlib.wasm
/webchat/static/mermaid.min.js
# /webchat/static/katex.min.css
# /webchat/static/katex.min.js
/webchat/bootstrap-icons.css
/webchat/bootstrap-icons.woff2

# Symlinks to 3rd-party tools and libraries
/unprompted/unprompted

# autogenerated api files
*.api

# binary dirs
/rust/target

# private files
/apps/story/family
/apps/story/stories

# test files
/text/files.md
/text/test1a.py
/text/test1b.py
/text/test2a.py
/text/test2b.py
/site/test

# data files for dev
/image/model.json

# references for dev
/apps/pdev/refs
/push-docs

# heavy stuff
/apps/pdev/awake

# generated program files
/apps/pdev/hello.js

# build stamp files
/webchat/build.stamp

/visual/person

# web cache
/webcache

# compiled binaries
/arcs/sshc
/c/test_lua
/c/test_perl
/c/test_python
/c/test_quickjs
/c/test_ruby
/c/test_mozjs
/c/test_v8
/go/atail
/tty/tty_cursor_pos
/video/mp4_fast_start
/c/hello_c
/c/tests/hello_c_test
/c/tests/sea_test
/files/touch_ctime
/files/tests/touch_ctime_test
/x11/glxgears
/html/htmlsplit
/html/tests/htmlsplit_test
/bash/opts_long
/bash/opts_help
/data/tsv2txt
/apps/pdev/hello.wasm
/tools/pipechat
/chat/llama-cpp-python-api-reference-high-level.md
/chat/llama-cpp-python-api-reference-low-level.md
/chat/llama-cpp-python-api-reference.md
/chat/llama-cpp-python.md
/games/001/game1
/games/002/game2a
/games/002/game2b
/files/recover_non_zero
/cz/unbrace
/linux/top_grouped
/text/aligno
