torch==2.6.0
torchvision
torchaudio

numpy
rouge_score
fire
openai
async-openai
transformers
sentencepiece
openai-whisper
tokenizers
# tokenizers==0.12.1
#wandb
#accelerate
Pillow

requests
beautifulsoup4
tabulate
youtube_search

fastcore
inflect
ipywidgets
send2trash
ipynbname
nbdev

argh
sh

lxml

black
pylint
mypy
pytest
pytest-asyncio
pytest-timeout

spacy

jsbeautifier
cssbeautifier

watchdog

anthropic
aiohttp
aionotify

starlette
uvicorn
watchfiles

inotify

websockets

markdown @ git+https://github.com/sswam/markdown.git
markdown-it-py[linkify,plugins] @ git+https://github.com/sswam/markdown-it-py.git
mdformat
pymdown-extensions
aiofiles
jinja2
python-multipart

pyjwt
# supabase_py
markdown-katex

tiktoken
uv

google-generativeai
google-cloud-aiplatform[tokenization]

jq
yq

types-PyYAML
types-Markdown
types-aiofiles
types-regex

py-vapid
pywebpush
