colorama
cssselect
html5lib
passlib
titlecase
types-beautifulsoup4
types-requests
types-tabulate
deepmerge
num2words
pydub
soundfile
wordpress_api
pyspellchecker

pyaudio
pyalsaaudio
SpeechRecognition
sounddevice
pulsectl

selenium
webdriver_manager

nltk
python-Levenshtein

# ttkthemes

pytesseract

PyGObject
pycairo

cmake
ninja

imageio-ffmpeg

optree

diffusers
librosa
sentence_transformers

huggingface_hub[cli]

pyannote.audio

faiss-cpu


speechbrain

flit
tox

esprima

gradio
gTTS

geoip2

fonttools
brotli
natsort

pytest-playwright
# also needs: playwright install

ruamel-yaml
