#!/bin/bash
# This is a collection of installation notes. Don't run this directly!


# whisper.cpp
# TODO how to install it


# Go
go_url=$(curl https://go.dev/dl/ | htmllinks | grep linux | head -n1)
rm -f go*.linux-amd64.tar.gz
wget "https://go.dev$go_url"
sudo rm -rf /usr/local/go && sudo tar -C /usr/local -xzf go*.linux-amd64.tar.gz
export PATH=$PATH:/usr/local/go/bin
echo 'export PATH=$PATH:/usr/local/go/bin' >> ~/.bashrc


# Go modules
go install golang.org/x/lint/golint@latest
go install honnef.co/go/tools/cmd/staticcheck@latest


# remove-blank-pages (from PDFs)
cd ~/soft-ai/
git clone https://github.com/nklb/remove-blank-pages


# Rust
curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh


# automatic1111 webui
# TODO


# ComfyUI
# TODO


# genmoai mochi1 video generation
cd ~/soft-ai
mkdir genmoai
cd genmoai
uv pip install -e . --no-build-isolation
uv pip install -e ".[flash]" --no-build-isolation
mkdir -p /opt/models/video/mochi1
python3 ./scripts/download_weights.py /opt/models/video/mochi1


# llama-cpp-python
# pip install llama-cpp-python --extra-index-url https://abetlen.github.io/llama-cpp-python/whl/cu124
NVCC_PREPEND_FLAGS='-ccbin /usr/bin/gcc-13' CUDACXX="/usr/local/cuda/bin/nvcc" CMAKE_ARGS="-DGGML_CUDA=on" FORCE_CMAKE=1 pip install --upgrade --force-reinstall llama-cpp-python --no-cache-dir
