numpy
rouge_score
fire
openai
async-openai
transformers
# torch==1.8.1+cpu,torchvision,torchaudio==0.9.1+cpu -f https://download.pytorch.org/whl/torch_stable.html  # CPU only
# torch,torchvision,torchaudio -f https://download.pytorch.org/whl/rocm5.2  # AMD GPU
#torch
#torchvision
#torchaudio
sentencepiece
tokenizers
# tokenizers==0.12.1
#wandb
#accelerate

requests
beautifulsoup4
tabulate
youtube_search

fastcore
inflect
ipywidgets
send2trash
ipynbname
nbdev

argh
sh
lxml
pytest
pytest-asyncio
spacy

pydub
SpeechRecognition
sounddevice
soundfile
# gTTS
# TTS
# BLIP
# clip-interrogator

watchdog

anthropic
aionotify

starlette
uvicorn
watchfiles

inotify

websockets
pyaudio

markdown
aiofiles
jinja2
python-multipart

pyjwt
# supabase_py
markdown-katex

segment-anything

tiktoken

pyalsaaudio
wordpress_api
selenium
webdriver_manager

# gradio

colorama

black

nltk
# jellyfish
# astor
# metaphone
pyspellchecker
python-Levenshtein

diffusers
librosa

jax
flax[all]

google-generativeai

cmake
ninja

google-cloud-aiplatform[tokenization]
cssselect
jq
yq

html5lib

jsbeautifier
cssbeautifier

mypy
pylint

ttkthemes

pytesseract

PyGObject
pycairo

pytest-timeout

pyannote.audio
speechbrain

ultralytics

passlib
