# whisper.cpp
# TODO how to install it

go_url=$(curl https://go.dev/dl/ | htmllinks | grep linux | head -n1)
rm -f go*.linux-amd64.tar.gz
wget "https://go.dev$go_url"
sudo rm -rf /usr/local/go && sudo tar -C /usr/local -xzf go*.linux-amd64.tar.gz
export PATH=$PATH:/usr/local/go/bin
echo 'export PATH=$PATH:/usr/local/go/bin' >> ~/.bashrc

go install golang.org/x/lint/golint@latest
go install honnef.co/go/tools/cmd/staticcheck@latest


cd ~/soft-ai/
git clone https://github.com/nklb/remove-blank-pages


curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
