numpy
rouge_score
fire
openai
#git+https://github.com/zphang/transformers.git@68d640f7c368bcaaaecfc678f11908ebbd3d6176
transformers
torch
sentencepiece
tokenizers==0.12.1
#wandb
#accelerate

requests
beautifulsoup4
tabulate
youtube_search

fastcore
inflect
ipywidgets
send2trash
ipynbname

argh
sh
lxml
pytest
spacy

pydub
speech_recognition
whisper
sounddevice
soundfile
gTTS
TTS
clip-interrogator

watchdog

anthropic
aionotify
