SHELL=/bin/bash
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin:/opt/allemande/tools
PYTHONPATH=/opt/allemande/tools
# 34 10 * * *   root    user-set-theme.py default -f
* * * * *   root    . /opt/allemande/env.sh ; user-set-theme.py default -f
