<!DOCTYPE html>
<head>
<meta name="referrer" content="no-referrer">
<base href="{{ chat_base_url }}" target="_top">
<script>var user = {{ user|tojson|safe }}, theme = {{ theme|tojson|safe }};</script>
<link rel="stylesheet" href="{{ chat_base_url }}/allychat.css" crossorigin="use-credentials">
<link rel="stylesheet" href="{{ chat_base_url }}/room_gen.css" crossorigin="use-credentials">
<link id="theme" rel="stylesheet" type="text/css" href="{{ chat_base_url }}/themes/{{ theme|safe }}.css" crossorigin="use-credentials">
<link id="user_styles" rel="stylesheet" type="text/css" href="{{ chat_base_url }}/users/{{ user }}/styles.css" crossorigin="use-credentials">
<script src="{{ chat_base_url }}/util.js"></script>
<script src="{{ chat_base_url }}/print.js"></script>
<script src="{{ chat_base_url }}/debug.js"></script>
<script src="{{ rooms_base_url }}/sw_register.js"></script>
<script type="module">
window.modules = { "room": await import('{{ chat_base_url }}/room.js') };
window.online = modules.room.online;
window.modules.room.folder_main();
</script>
<title>{{ room }}</title>
</head>
<body id="dir" class="columns">
