<!DOCTYPE html>
<link rel="stylesheet" href="https://chat.allemande.ai/allychat.css">
<script src="https://chat.allemande.ai/mousetrap.min.js"></script>
<script src="https://chat.allemande.ai/util.js"></script>
<script src="https://chat.allemande.ai/room.js"></script>
<script>var user = {{ user|tojson|safe }};</script>
<script src="https://chat.allemande.ai/process_messages.js"></script>
<link rel="stylesheet" href="https://chat.allemande.ai/room.css">
<link id="user_styles" rel="stylesheet" type="text/css" href="https://chat.allemande.ai/users/{{ user }}/theme.css">
<base target="_top">
<body id="messages">
<div class="overlay maxpect"></div>
<div class="messages">
