<!DOCTYPE html>
<head>
<meta name="referrer" content="no-referrer">
<script>
(async () => {
	const regs = await navigator.serviceWorker?.getRegistrations?.().catch(() => []);
	await Promise.all((regs || []).map(r => r.unregister().catch(() => {})));
})();
var user = {{ user|tojson|safe }}, theme = {{ theme|tojson|safe }};
const ALLEMANDE_LOGIN_URL="{{ login_base_url }}";
const ALLYCHAT_CHAT_URL="{{ chat_base_url }}";
const ALLYCHAT_ROOMS_URL="{{ rooms_base_url }}";
</script>
<link rel="stylesheet" href="{{ chat_base_url }}/allychat.css" crossorigin="use-credentials">
<script src="{{ chat_base_url }}/util.js"></script>
<script src="{{ chat_base_url }}/room_util.js"></script>
<script src="{{ chat_base_url }}/print.js"></script>
<script src="{{ chat_base_url }}/debug.js"></script>
<script src="{{ chat_base_url }}/resizer.js"></script>
<script src="{{ chat_base_url }}/ally_highlight.js"></script>
<!--link rel="stylesheet" href="{{ chat_base_url }}/icons.css"-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.css">
<script src="{{ chat_base_url }}/toc.js"></script>
<link rel="stylesheet" href="{{ chat_base_url }}/toc.css" crossorigin="use-credentials">
<!--<script src="/sw_register.js"></script>-->
<script>
(async () => {
	await Promise.all([
		$import("chat:room"),
		$import("chat:process_messages"),
	]);
	online = modules.room.online;
	clear = modules.room.clear;
	modules.room.room_main();
})();
</script>
<link rel="stylesheet" href="{{ chat_base_url }}/room_gen.css" crossorigin="use-credentials">
<link id="theme" rel="stylesheet" type="text/css" media="screen" href="{{ chat_base_url }}/themes/{{ theme|safe }}.css" crossorigin="use-credentials">
<link id="user_styles" rel="stylesheet" type="text/css" href="{{ chat_base_url }}/users/{{ user }}/styles.css" crossorigin="use-credentials">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ chat_base_url }}/card_gen.css" crossorigin="use-credentials">
<script src="{{ chat_base_url }}/card.js"></script>
<base target="_top">
<title>{{ room }}</title>
</head>
<body id="messages" class="messages">

<div class="overlay maxpect"></div>
<div id="overlay_help">Tap center of screen to exit, sides to browse,
top for fullscreen, bottom for zoom.</div>

<div class="sidebar toc hidden">
	<button id="toc_close" title="close"><i class="bi bi-x i20"></i></button>
Hello, world
</div>

<div class="sidebar canvas">
	<canvas id="canvas" tabindex=0></canvas>
	<script>
		// set canvas size to screen size (not window size)
		canvas = $id('canvas');
		canvas.width = window.screen.width * window.devicePixelRatio;
		canvas.height = window.screen.height * window.devicePixelRatio;
		ctx = canvas.getContext('2d');
		// AI can't remember the canvas is flipped, so disable that for now.
		// ctx.transform(1, 0, 0, -1, 0, canvas.height);
		ctx.scale(window.devicePixelRatio, window.devicePixelRatio);
		ctx.strokeStyle = 'grey';
		ctx.fillStyle = 'grey';
		// scroll div.canvas to bottom
		$('.canvas').scrollTop = $('.canvas').scrollHeight;
	</script>
</div>

<div class="resizer">
</div>

<div class="messages_wrap">
<div class="messages">
