<!DOCTYPE html>
<link rel="stylesheet" href="{{ chat_base_url }}/allychat.css">
<script src="{{ chat_base_url }}/mousetrap.min.js"></script>
<script src="{{ chat_base_url }}/util.js"></script>
<script src="{{ chat_base_url }}/process_messages.js"></script>
<script src="{{ chat_base_url }}/room.js"></script>
<script>var user = {{  user|tojson|safe  }};</script>
<link rel="stylesheet" href="{{ chat_base_url }}/room.css">
<link id="user_styles" rel="stylesheet" type="text/css" href="{{ chat_base_url }}/users/{{ user }}/theme.css">
<base target="_top">
<body id="messages">
<div class="overlay maxpect"></div>
<div class="messages">
