.fill {
	width: 100%;
	height: 100%;
}
.admin {
	display: none;
}
body.admin, body.admin .admin {
	display: block;
}
.hidden {
	display: none !important;
}
#messages {
	min-height: 64px;
	position: relative;
}
#messages_overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
}
#inputrow {
	height: 64px;
	margin: 0;
	flex-grow: 0;
	flex-shrink: 0;
	max-height: 80vh;
}
#inputrow > .controls {
	flex-grow: 0;
	flex-shrink: 1;
}
#inputrow > .controls > * {
	flex-grow: 1;
	min-height: 1.5em;
	min-width: 3em;
}
#inputrow > .controls > video {
	flex-grow: 0;
	flex-shrink: 1;
	max-height: 128px;
}
#content {
	min-height: 32px;
	resize: none;
	flex-grow: 1;
	flex-shrink: 0;
}
#resizer {
	height: var(--pad);
	min-height: var(--pad);
	cursor: ns-resize;
	margin: 0;
}
#debug {
	display: none;
	width: 64px;
}
.row {
	display: flex;
	flex-direction: row;
}
.col {
	display: flex;
	flex-direction: column;
}
.col_wrap {
	display: flex;
	flex-flow: column wrap;
	gap: var(--pad);
}

/* define --pad */

:root {
	--pad: 12px;
}

.col > * {
	margin: var(--pad) 0 0 0;
	width: 100%;
}
.row > * {
	margin: 0 0 0 var(--pad);
	height: 100%;
}
.pad {
	padding: var(--pad);
}
.col > :first-child, .row > :first-child {
	margin: 0;
}
.flex {
	flex: 1;
}
.grow {
	flex-grow: 1;
}
.outline {
	border: 1px solid black;
}
.inputfile.hide {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.attached {
	overflow: hidden;
}

input, textarea {
	padding: 4px;
}

input, textarea, button, iframe, .button {
	border-radius: 6px;
}

a.button {
	display: flex;
	align-items: center;
}

button, .button {
	font-size: 1.2rem;
}

input:focus, textarea:focus, iframe:focus, button:focus, .button:focus {
	outline: none;
}

.error {
	background-color: #422 !important;
}

video {
	min-height: 128px;
}

div.label {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 6px;
	font-size: 1.2rem;
}
