.admin {
	display: none;
}
body > form, div#main, div#messages {
	overflow: hidden;
}
body:not(.embed) div#main {
	padding: var(--pad);
}
body.admin, body.admin .admin {
	display: block;
}
html {
	overflow: auto;  /* enable reload on mobile */
}
input:not([type=checkbox]), textarea, select {
	min-width: min(var(--input-width-min), 50vw);
	padding: 0.25rem;
}
#messages {
	min-height: var(--ui-size-min);
	position: relative;
}
#messages_overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	/* background: rgba(0, 0, 0, 0.5); */
}
#top {
	overflow-x: auto;
	&::-webkit-scrollbar { display: none; }
	scrollbar-width: none;
	padding-bottom: var(--pad);
}
#inputrow {
	height: var(--ui-size-min);
	margin: 0;
	flex-grow: 0;
	flex-shrink: 1;
	max-height: calc(100dvh - var(--ui-size-min));
	max-width: 100%;
}
#inputrow > .controls {
	flex-basis: fit-content;
	flex: 0 1 auto;
	overflow-x: auto;
	overscroll-behavior: none;
	&::-webkit-scrollbar { display: none; }
	scrollbar-width: none;
	width: fit-content;
}
#inputrow > .controls > *,
#top :is(button, a.button) {
	min-width: 2rem;
	min-height: 2rem;
}
#inputrow > .controls > * {
	flex-grow: 1;
}
#inputrow > .controls > video {
	min-width: 9.6rem;
	min-height: 5.4rem;
	max-width: 16rem;
	max-height: 9rem;
	aspect-ratio: 16/9;
	flex: 0 0 auto;
}
#content, #math_input {
	min-height: 2rem;
	resize: none;
	flex: 1 100 0;
}
#resizer {
	height: var(--pad);
	min-height: var(--pad);
	cursor: ns-resize;
	margin: 0;
	background: var(--frame);
	touch-action: none;
}
.col_wrap {
	display: flex;
	flex-flow: column wrap;
	gap: var(--pad);
}

.col_wrap_ff {
	/* hack for Firefox broken flex layout */

	display: flex;
	writing-mode: vertical-lr;
	flex-wrap: wrap;
	justify-content: fill;
	align-items: stretch;
/*	align-content: flex-start;*/
	height: 100%;
	min-width: 0;
	min-height: 0;
/*	height: 21.875rem; */
	gap: var(--pad);
}

.col_wrap > * {
	writing-mode: horizontal-tb;
}

#top_main #user {
	padding: 0.125rem 0.375rem;
}

/* tricky CSS for gaps between elements */
/*
.col > * {
	margin: 0;
	width: 100%;
}
.col > :not(.hidden) ~ :not(.hidden) {
	margin-top: var(--pad);
}
.row > * {
	margin: 0;
	height: 100%;
}
.row > :not(.hidden) ~ :not(.hidden) {
	margin-left: var(--pad);
}
*/

body.compact2 .pad {
	padding: 0;
}
.col > :first-child, .row > :first-child {
	margin: 0;
}
/* hack! */
body.simple #user {
	margin: 0;
}
.flex {
	flex: 1;
}
.outline {
	border: 0.0625rem solid black;
}
.inputfile.hide {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.attached {
	overflow: hidden;
}

input, textarea, button, .button {
	border-radius: 0.375rem;
}

body:not(.compact) iframe {
	border-radius: 0.375rem;
}

iframe:fullscreen {
	border-radius: 0;
}

a.button {
	display: flex;
	align-items: center;
	font-size: 1.2rem;
}

button, .button {
	font-size: 1.2rem;
}

input:focus, textarea:focus, select:focus, iframe:focus, button:focus, .button:focus {
	outline: none;
}

video {
	min-height: 8rem;
}

div.label {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.375rem;
	font-size: 1.2rem;
}

iframe#messages_iframe.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: none;
	border-radius: 0;
}

body.dark .back { background-color: #303060 !important; color: white !important; }
body.dark .okay { background-color: #406040 !important; color: white !important; }
body.dark .cancel { background-color: #604040 !important; color: white !important; }
body.dark.nsfw_zone .nsfw { background-color: #604060 !important; color: white !important; }
body.dark.private .private { background-color: #406040 !important; color: white !important; }

body.dark .active { background-color: #606030 !important; color: white !important; }

body.dark .active-2 { background-color: #707038 !important; color: white !important; }
body.dark .active-3 { background-color: #808040 !important; color: white !important; }
body.dark .active-4 { background-color: #909048 !important; color: white !important; }
body.dark .active-5 { background-color: #a0a050 !important; color: white !important; }
body.dark .active-6 { background-color: #b0b058 !important; color: black !important; }
body.dark .active-7 { background-color: #c0c060 !important; color: black !important; }
body.dark .active-8 { background-color: #d0d068 !important; color: black !important; }
body.dark .active-9 { background-color: #e0e070 !important; color: black !important; }
body.dark .active-10 { background-color: #f0f078 !important; color: black !important; }
body.dark .active-11 { background-color: #ffff80 !important; color: black !important; }
body.dark .active-12 { background-color: #ffff88 !important; color: black !important; }
body.dark .active-13 { background-color: #ffff90 !important; color: black !important; }
body.dark .active-14 { background-color: #ffff98 !important; color: black !important; }
body.dark .active-15 { background-color: #ffffa0 !important; color: black !important; }
body.dark .active-16 { background-color: #ffffa8 !important; color: black !important; }
body.dark .active-17 { background-color: #ffffb0 !important; color: black !important; }
body.dark .active-18 { background-color: #ffffb8 !important; color: black !important; }
body.dark .active-19 { background-color: #ffffc0 !important; color: black !important; }
body.dark .active-20 { background-color: #ffffc8 !important; color: black !important; }

body.dark .active--1 { background-color: #306060 !important; color: white !important; }
body.dark .active--2 { background-color: #387070 !important; color: white !important; }
body.dark .active--3 { background-color: #408080 !important; color: white !important; }
body.dark .active--4 { background-color: #489090 !important; color: white !important; }
body.dark .active--5 { background-color: #50a0a0 !important; color: white !important; }
body.dark .active--6 { background-color: #58b0b0 !important; color: black !important; }
body.dark .active--7 { background-color: #60c0c0 !important; color: black !important; }
body.dark .active--8 { background-color: #68d0d0 !important; color: black !important; }
body.dark .active--9 { background-color: #70e0e0 !important; color: black !important; }
body.dark .active--10 { background-color: #78f0f0 !important; color: black !important; }
body.dark .active--11 { background-color: #80ffff !important; color: black !important; }
body.dark .active--12 { background-color: #88ffff !important; color: black !important; }
body.dark .active--13 { background-color: #90ffff !important; color: black !important; }
body.dark .active--14 { background-color: #98ffff !important; color: black !important; }
body.dark .active--15 { background-color: #a0ffff !important; color: black !important; }
body.dark .active--16 { background-color: #a8ffff !important; color: black !important; }
body.dark .active--17 { background-color: #b0ffff !important; color: black !important; }
body.dark .active--18 { background-color: #b8ffff !important; color: black !important; }
body.dark .active--19 { background-color: #c0ffff !important; color: black !important; }
body.dark .active--20 { background-color: #c8ffff !important; color: black !important; }

body.light .back { background-color: #9090b0 !important; color: black !important; }
body.light .okay { background-color: #90b090 !important; color: black !important; }
body.light .cancel { background-color: #b09090 !important; color: black !important; }
body.light.nsfw_zone .nsfw { background-color: #b090b0 !important; color: black !important; }
body.light.private .private { background-color: #90b090 !important; color: black !important; }

body.light .active { background-color: #b0b058 !important; color: black !important; }

body.light .active-1 { background-color: #c0c060 !important; color: black !important; }
body.light .active-2 { background-color: #d0d068 !important; color: black !important; }
body.light .active-3 { background-color: #e0e070 !important; color: black !important; }
body.light .active-4 { background-color: #f0f078 !important; color: black !important; }
body.light .active-5 { background-color: #ffff80 !important; color: black !important; }
body.light .active-6 { background-color: #ffff88 !important; color: black !important; }
body.light .active-7 { background-color: #ffff90 !important; color: black !important; }
body.light .active-8 { background-color: #ffff98 !important; color: black !important; }
body.light .active-9 { background-color: #ffffa0 !important; color: black !important; }
body.light .active-10 { background-color: #ffffa8 !important; color: black !important; }

body.light .active--1 { background-color: #58b0b0 !important; color: black !important; }
body.light .active--2 { background-color: #60c0c0 !important; color: black !important; }
body.light .active--3 { background-color: #68d0d0 !important; color: black !important; }
body.light .active--4 { background-color: #70e0e0 !important; color: black !important; }
body.light .active--5 { background-color: #78f0f0 !important; color: black !important; }

body.dark input[placeholder]:not(:placeholder-shown) {
	background-color: #606030 !important; color: white !important;
}

body.light input[placeholder]:not(:placeholder-shown) {
	background-color: #b0b058 !important; color: black !important;
}

.error {
	background-color: #422 !important;
}

div.controls {
	width: auto;
}

div.controls > * {
	flex-grow: 1;
	flex-basis: 0;
}

div.controls > button#send {
	min-width: 3rem !important;
	flex-grow: 2;
}

#inputrow > .controls > input {
	width: calc(3.5rem + var(--pad));
	min-width: calc(3.5rem + var(--pad));
/*	width: calc(2rem);
	min-width: calc(2rem); */
}

.top_controls {
	flex-basis: 0;
}

.controls input {
	text-align: center;
}

.small {
	font-size: 0.8125rem;
}

body.simple .advanced,
body:not(.simple) .simple,
body:not(.boffin) .boffin,
body.ios .noios,
body:not(.nsfw) .nsfw,
body.nsfw .sfw {
	display: none !important;
}

/*
body.simple a.button#help {
	background-color: rgb(255, 205, 0);
	color: rgb(0, 132, 61);
	animation: alternateColorsDark 8s steps(2) infinite;
}

@keyframes alternateColors {
	0%, 49.99% { background-color: rgb(255, 205, 0); color: rgb(0, 132, 61); }
	50%, 100% { background-color: rgb(0, 132, 61); color: rgb(255, 205, 0); }
}
*/

body.simple.light a.button#help {
    background: #90b090;
    color: black;
}

body.simple.dark a.button#help {
    background: #306030;
    color: white;
}


math-field {
	border: none;
	outline: none;
	background: var(--input);
	color: var(--text);
}

math-field:focus {
	border: none;
	background: var(--focus);
	--selection-color: var(--text);
	--selection-background-color: var(--input);
	--contains-highlight-background-color: var(--input);
	--placeholder-color: var(--text);
	--placeholder-opacity: 0.5;
	--smart-fence-color: var(--text);
	--smart-fence-opacity: 0.5;
	--highlight-text: var(--text);
	--latex-color: var(--text);
	--correct-color: var(--text);
	--incorrect-color: var(--text);
}

math-field::part(virtual-keyboard-toggle), math-field::part(menu-toggle) {
	color: var(--text);
}


.drop_target {
	background: var(--button-focus);
}

#reload_icon {
	position: fixed;
	top: 20px;
	left: 50%;
	transform: translateX(-50%) rotate(0deg);
	background-color: rgba(128, 128, 128, 0.8);
	border-radius: 50%;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	transform-origin: center center;
	transition: transform 0.1s ease;
}

#reload_icon i {
	color: white;
	font-size: 24px;
}

/* TODO: remove or re-do #intro mode? */

#theme-overlay, #intro {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 1.25rem 2.5rem;
	background: var(--background);
	color: var(--text);
	border: 0.125rem solid var(--frame);
	border-radius: 0.9375rem;
	font-size: 1.5rem;
	font-weight: bold;
	z-index: 9999;
	transition: opacity 0.3s ease;
	pointer-events: none;
	text-align: center;
}

body.intro :is(button, a.button, input, textarea, iframe):not(#help) {
	opacity: 0.125;
	transition: opacity 0.3s ease;
}

/* in intro mode, animate the help button with a pulse and wiggle effect */
body.intro #help {
	animation: pulse 1s infinite ease-in-out;
}

#intro-help-arrow {
	position: absolute;
	top: 3rem;
	right: 5rem;
	width: 30vw;
	height: 30vh;
	z-index: 9998;
}

body:not(.intro) :is(#intro, #intro-help-arrow) {
	display: none;
	opacity: 0;
}

@keyframes pulse {
	0% {
		transform: scale(1) rotate(0deg);
	}
	12.5% {
		transform: scale(1.05) rotate(5deg);
	}
	25% {
		transform: scale(1.1) rotate(0deg);
	}
	37.5% {
		transform: scale(1.15) rotate(-5deg);
	}
	50% {
		transform: scale(1.2) rotate(0deg);
	}
	62.5% {
		transform: scale(1.15) rotate(5deg);
	}
	75% {
		transform: scale(1.1) rotate(0deg);
	}
	87.5% {
		transform: scale(1.05) rotate(-5deg);
	}
	100% {
		transform: scale(1) rotate(0deg);
	}
}

.top_controls.grow {
	flex: 4 0 0;
}

/* system messages -------------------------------------------------------- */

.system_message {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	min-width: min(450px, calc(100% - 2 * var(--pad)));
	max-width: 50%;
	max-height: calc(100% - 2 * var(--pad));

	margin: var(--pad);
	background-color: var(--background);
	color: var(--text);
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	border: 0.125rem solid var(--border);
/*	background-color: rgba(255, 255, 255, 0.9);
	padding: 10px;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */

	overflow-y: auto;
}

/* printing --------------------------------------------------------------- */

@media print {
	:root {
		--frame: white;
		--border: white;
	}
	#top, #inputrow, #resizer {
		display: none;
	}
	iframe#messages_iframe {
		background: white !important;
		border-radius: 0 !important;
		border: none !important;
		overflow: visible !important;
/*		width: var(--messages-width) !important;
		height: var(--messages-height) !important; */
	}
	html, body {
		background: white !important;
	}
}

@supports(padding: env(safe-area-inset-top)) {
	body {
		padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
	}
}

/* NSFW Zone warning overlay ---------------------------------------------- */

#nsfw-warning {
	font-size: 1.2rem;
	background: var(--background);
	color: var(--text);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 1rem;
	z-index: 9999;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	text-align: center;
	overflow-y: auto;
}

#nsfw-warning > div {
	max-width: 500px;
	margin: auto;
	padding: 1rem;
}

/*
#nsfw-warning {
	.. other properties same as above ...
	display: block;
	overflow-y: auto;
}

#nsfw-warning > div {
	max-width: 600px;
	margin: 0 auto;
	padding: 1rem;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
*/

#nsfw-warning button {
	padding: 1rem 2rem;
	margin: 0.5rem;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#nsfw-warning-no {
	background: #666;
}

#nsfw-warning-yes:disabled {
	cursor: not-allowed !important;
}

#nsfw-warning-yes:not(:disabled) {
	background: #f44;
}

#nsfw-warning .blue {
	color: #48f;
}

#nsfw-warning li input:disabled {
	display: none;
}

#nsfw-warning li:not(.highlight):not(:has(input)),
#nsfw-warning li:has(input:not(:checked)) {
	margin-left: -2rem;
	color: #f44;
}

#nsfw-warning li.highlight:not(:has(input)),
#nsfw-warning li:has(input:checked) {
	animation: highlight 2s ease-out 1;
}

#nsfw-warning ul {
	list-style-type: none;
}

#nsfw-warning div.emojis {
	font-size: 2rem;
}

@keyframes highlight {
	0% {
		margin-left: -2rem;
		color: #f44;
	}
	50%,100% {
		margin-left: 0;
		color: var(--text);
	}
}
