.fill {
	width: 100%;
	height: 100%;
}
.admin {
	display: none;
}
.hidden {
	display: none;
}
#messages {
}
#inputrow {
}
#content {
	min-height: 64px;
	height 100% !important;
}
.row {
	display: flex;
	flex-direction: row;
}
.col {
	display: flex;
	flex-direction: column;
}

/* define --pad */

:root {
	--pad: 12px;
}

.col > * {
	margin: var(--pad) 0 0 0;
	width: 100%;
}
.row > * {
	margin: 0 0 0 var(--pad);
	height: 100%;
}
.pad {
	padding: var(--pad);
}
.col > :first-child, .row > :first-child {
	margin: 0;
}
.flex {
	flex: 1;
}
.grow {
	flex-grow: 1;
}
.outline {
	border: 1px solid black;
}
.inputfile.hide {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.attached {
	overflow: hidden;
}

input, textarea {
	padding: 4px;
}

input, textarea, button, iframe, .button {
	border-radius: 6px;
}

button, .button {
	font-size: 1.2rem;
}

input:focus, textarea:focus, iframe:focus, button:focus, .button:focus {
	outline: none;
}
