:root {
	--ui-size-min: 66px;
}

.fill {
	width: 100%;
	height: 100%;
}
.admin {
	display: none;
}
body > form, div#main, div#messages {
	overflow: hidden;
}
body.admin, body.admin .admin {
	display: block;
}
input, textarea {
	min-width: var(--ui-size-min);
	width: 0;
}
#messages {
	min-height: var(--ui-size-min);
	position: relative;
}
#messages_overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
}
#inputrow {
	height: var(--ui-size-min);
	margin: 0;
	flex-grow: 0;
	flex-shrink: 0;
	max-height: calc(100dvh - var(--ui-size-min));
}
#inputrow > .controls {
	flex-grow: 0;
	flex-shrink: 1;
}
#inputrow > .controls > *,
#top :is(button, a.button) {
	min-width: 32px;
	min-height: 28px;
}
#inputrow > .controls > * {
	flex-grow: 1;
}
#inputrow > .controls > video {
	flex-grow: 0;
	flex-shrink: 1;
	max-height: 128px;
}
#content {
	min-height: 32px;
	resize: none;
	flex-grow: 1;
	flex-shrink: 0;
}
#resizer {
	height: var(--pad);
	min-height: var(--pad);
	cursor: ns-resize;
	margin: 0;
}
.row {
	display: flex;
	flex-direction: row;
}
.col {
	display: flex;
	flex-direction: column;
}
.col_wrap {
/*	display: flex;
	flex-flow: column wrap;
	/* hack for Firefox broken flex layout */
	display: flex;
	writing-mode: vertical-lr;
	flex-wrap: wrap;
	align-content: flex-start;
	height: 350px;
	gap: var(--pad);
}

.col_wrap > * {
	writing-mode: horizontal-tb;
}

/* tricky CSS for gaps between elements */
.col > * {
	margin: 0;
	width: 100%;
}
.col > :not(.hidden) ~ :not(.hidden) {
	margin-top: var(--pad);
}
.row > * {
	margin: 0;
	height: 100%;
}
.row > :not(.hidden) ~ :not(.hidden) {
	margin-left: var(--pad);
}

.pad {
	padding: var(--pad);
}
body.compact .pad {
	padding: 0px;
}
.col > :first-child, .row > :first-child {
	margin: 0;
}
/* hack! */
body.simple #user {
	margin: 0;
}
.flex {
	flex: 1;
}
.grow {
	flex-grow: 1;
}
.outline {
	border: 1px solid black;
}
.inputfile.hide {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.attached {
	overflow: hidden;
}

input, textarea {
	padding: 4px;
}

input, textarea, button, .button {
	border-radius: 6px;
}

body:not(.compact) iframe {
	border-radius: 6px;
}

iframe:fullscreen {
	border-radius: 0;
}

a.button {
	display: flex;
	align-items: center;
	font-size: 1.2rem;
}

button, .button {
	font-size: 1.2rem;
}

input:focus, textarea:focus, iframe:focus, button:focus, .button:focus {
	outline: none;
}

video {
	min-height: 128px;
}

div.label {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 6px;
	font-size: 1.2rem;
}

iframe#messages_iframe.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: none;
	border-radius: 0;
}

body.dark .active { background-color: #606030 !important; }

body.dark .active-2 { background-color: #707038 !important; color: white !important; }
body.dark .active-3 { background-color: #808040 !important; color: white !important; }
body.dark .active-4 { background-color: #909048 !important; color: white !important; }
body.dark .active-5 { background-color: #a0a050 !important; color: white !important; }
body.dark .active-6 { background-color: #b0b058 !important; color: black !important; }
body.dark .active-7 { background-color: #c0c060 !important; color: black !important; }
body.dark .active-8 { background-color: #d0d068 !important; color: black !important; }
body.dark .active-9 { background-color: #e0e070 !important; color: black !important; }
body.dark .active-10 { background-color: #f0f078 !important; color: black !important; }
body.dark .active-11 { background-color: #ffff80 !important; color: black !important; }
body.dark .active-12 { background-color: #ffff88 !important; color: black !important; }
body.dark .active-13 { background-color: #ffff90 !important; color: black !important; }
body.dark .active-14 { background-color: #ffff98 !important; color: black !important; }
body.dark .active-15 { background-color: #ffffa0 !important; color: black !important; }
body.dark .active-16 { background-color: #ffffa8 !important; color: black !important; }
body.dark .active-17 { background-color: #ffffb0 !important; color: black !important; }
body.dark .active-18 { background-color: #ffffb8 !important; color: black !important; }
body.dark .active-19 { background-color: #ffffc0 !important; color: black !important; }
body.dark .active-20 { background-color: #ffffc8 !important; color: black !important; }

body.dark .active--1 { background-color: #306060 !important; color: white !important; }
body.dark .active--2 { background-color: #387070 !important; color: white !important; }
body.dark .active--3 { background-color: #408080 !important; color: white !important; }
body.dark .active--4 { background-color: #489090 !important; color: white !important; }
body.dark .active--5 { background-color: #50a0a0 !important; color: white !important; }
body.dark .active--6 { background-color: #58b0b0 !important; color: black !important; }
body.dark .active--7 { background-color: #60c0c0 !important; color: black !important; }
body.dark .active--8 { background-color: #68d0d0 !important; color: black !important; }
body.dark .active--9 { background-color: #70e0e0 !important; color: black !important; }
body.dark .active--10 { background-color: #78f0f0 !important; color: black !important; }
body.dark .active--11 { background-color: #80ffff !important; color: black !important; }
body.dark .active--12 { background-color: #88ffff !important; color: black !important; }
body.dark .active--13 { background-color: #90ffff !important; color: black !important; }
body.dark .active--14 { background-color: #98ffff !important; color: black !important; }
body.dark .active--15 { background-color: #a0ffff !important; color: black !important; }
body.dark .active--16 { background-color: #a8ffff !important; color: black !important; }
body.dark .active--17 { background-color: #b0ffff !important; color: black !important; }
body.dark .active--18 { background-color: #b8ffff !important; color: black !important; }
body.dark .active--19 { background-color: #c0ffff !important; color: black !important; }
body.dark .active--20 { background-color: #c8ffff !important; color: black !important; }

body.light .active { background-color: #b0b058 !important; color: black !important; }

body.light .active-1 { background-color: #c0c060 !important; color: black !important; }
body.light .active-2 { background-color: #d0d068 !important; color: black !important; }
body.light .active-3 { background-color: #e0e070 !important; color: black !important; }
body.light .active-4 { background-color: #f0f078 !important; color: black !important; }
body.light .active-5 { background-color: #ffff80 !important; color: black !important; }
body.light .active-6 { background-color: #ffff88 !important; color: black !important; }
body.light .active-7 { background-color: #ffff90 !important; color: black !important; }
body.light .active-8 { background-color: #ffff98 !important; color: black !important; }
body.light .active-9 { background-color: #ffffa0 !important; color: black !important; }
body.light .active-10 { background-color: #ffffa8 !important; color: black !important; }

body.light .active--1 { background-color: #58b0b0 !important; color: black !important; }
body.light .active--2 { background-color: #60c0c0 !important; color: black !important; }
body.light .active--3 { background-color: #68d0d0 !important; color: black !important; }
body.light .active--4 { background-color: #70e0e0 !important; color: black !important; }
body.light .active--5 { background-color: #78f0f0 !important; color: black !important; }


.error {
	background-color: #422 !important;
}

button#send {
	min-height: 60px !important;
	min-width: 60px !important;
}

#inputrow > .controls > input {
	width: calc(50px + var(--pad));
	min-width: calc(50px + var(--pad));
}

.top_controls {
	flex-basis: 0;
}

button:has(svg) {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2px 2px;
	line-height: 1;
}

.controls input {
	text-align: center;
}

.small {
	font-size: small;
}

body.simple .advanced {
	display: none;
}

body:not(.simple) .simple {
	display: none;
}

@media print {
	:root {
		--frame: white;
		--border: white;
	}
	#top, #inputrow, #resizer {
		display: none;
	}
	iframe#messages_iframe {
		background: white !important;
		border-radius: 0 !important;
		border: none !important;
		overflow: visible !important;
/*		width: var(--messages-width) !important;
		height: var(--messages-height) !important; */
	}
	html, body {
		background: white !important;
	}
}
