div.messages {
/*	margin: 1em 1em 0 1em; */
	padding: 0.5em 1em;
}
.label {
	margin-right: 1em;
	font-weight: bold;
	float: left;
	clear: both;
}
.message.me > .label { color: blue; }
.message > .content {
	margin: 0 1em 0 1em;
}
#status {
	position: fixed;
	top: 0.5em;
	right: 0.5em;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote, figure, figcaption {
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
}

.message img, .message video, .message audio, .message iframe {
	vertical-align: top;
	margin: 4px;
	max-width: 75vw;
	max-height: 75vh;
}

/* borders for markdown tables */

table {
	border-collapse: collapse;
}
table, th, td {
	border: 1px solid var(--col4);
}

.caption {
	width: 280px;
	overflow: hidden;
	white-space: nowrap;
}

.caption: hover {
	overflow: visible;
	white-space: normal;
}
