div.messages {
/*	margin: 1em 1em 0 1em; */
	padding: 0.5em 1em;
}
.label {
	margin-right: 1em;
	font-weight: bold;
	float: left;
}
.message, .narrative {
	clear: both;
	min-height: 1em;
	scroll-margin-top: 12px;
}
.message.me > .label { color: var(--me); }
.content p {
	white-space: pre-wrap;
}
.content br {
	display: none;
}
.narrative > .content {
	margin: 0 1em 0 1em;
}
.message > .content {
	margin: 0 1em 0 1em;
}
#allemande_status {
	position: fixed;
	top: 0.5em;
	right: 0.5em;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote, figure, figcaption {
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
}

.narrative img, .narrative video, .narrative audio, .narrative iframe,
body.clean .narrative img, body.clean .narrative video, body.clean .narrative audio, body.clean .narrative iframe {
	vertical-align: top;
	margin: 6px 4px;
	max-width: min(90vw, 90vh);
	max-height: min(90vw, 90vh);
}

.message img, .message video, .message audio, .message iframe {
	vertical-align: top;
	margin: 6px 4px;
	max-width: min(40vw, 40vh);
	max-height: min(40vw, 40vh);
}

/* borders for markdown tables */

table {
	border-collapse: collapse;
}
table, th, td {
	border: 1px solid var(--col4);
	padding: 4px;
}

.caption {
	width: 280px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	position: relative;
	background: var(--background);
}

.embed:hover .caption {
	overflow: visible;
	white-space: normal;
	z-index: 100;
}

.embed .thumb {
	width: 280px;
	height: 177px;
	margin: 0 0 4px 0 !important;
	object-fit: cover;
}

.embed {
	width: 280px;
	height: 177px;
	float: left;
	margin: 0px 20px 40px 0px;
	padding: 0;
}

.image .thumb {
	width: auto;
	height: 177px;
	margin: 0 0 4px 0 !important;
}

.image {
	height: 201px;
	float: left;
	margin: 0px 20px 40px 0px;
	padding: 0;
	position: relative;
	overflow: hidden;
	padding-bottom: 128px;
}

.image > a {
	display: block;
}

.image .caption {
	width: auto;
	position: absolute;
	top: 177px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	background: var(--background);
}

.image:hover {
	overflow: visible;
}

.image:hover .caption {
	white-space: normal;
	z-index: 100;
}

a {
	text-decoration: none;
	color: var(--link);
}
a:hover {
	text-decoration: underline;
}

@font-face {
	font-family: "fixed";
	src: url("https://allemande.ai/MiscFixedSC13.ttf");
	font-style: normal;
	font-weight: 400;
}

code {
	font: 12px fixed;
	white-space: pre-wrap;
	display: inline-block;
}

pre {
	white-space: pre-wrap;
}

body.overlay {
	overflow: hidden;
}

body.overlay > div.messages {
	visibility: hidden;
}

body:not(.overlay) > div.overlay {
	display: none;
}

body.overlay > div.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 1);
	z-index: 100;
	overflow: auto;
}

body.overlay > div.overlay > img {
	display: block;
	margin: auto;
	z-index: 101;
}

body.overlay > div.overlay.maxpect > img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

body.overlay > div.overlay.bad_cover > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	margin: default;
}

body.overlay > div.overlay.fit_width > img {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	height: auto;
}

body.overlay > div.overlay.fit_height > img {
	width: auto;
	height: 100%;
	min-height: 100%;
	max-height: 100%;
}

details.think, details.think * {
	color: var(--think);
}

details.search {
	position: relative;
	top: -18px;
}

details.search > div {
	margin-bottom: 40px;
}

.directory-listing {
	list-style: none;
	padding: 0;
}
.directory-listing li {
	padding: 8px;
}
.icon {
	margin-right: 10px;
}



body {
	display: flex;
	overflow: hidden;
}

body > div.messages_wrap {
	overflow: auto;
	border-radius: 6px;
	flex-basis: 128px;
	flex-grow: 1;
	flex-shrink: 0;
}

body:not(.images) img {
	display: none;
}
body:not(.images_alt) .alt {
	display: none;
}

body:not(.source) .language-dot {
	display: none;
}
/*
body.source .graphviz {
	display: none;
}
*/

body.canvas > div.canvas {
	display: block;
/*	overflow: auto; */
	overflow: hidden;
	min-width: 64px;
	min-height: 64px;
	width: 100%;
	height: 100%;
	flex-grow: 0;
	border-radius: 6px;
	flex-basis: 128px;
	flex-shrink: 0;
}
body:not(.canvas) div.canvas {
	display: none;
}
body:not(.canvas) div.resizer {
	display: none;
}

body.clean div.message.specialist {
	display: none;
}

body.clean div.message.invoke-specialist {
	display: none;
}

body.clean div.message.narrative div.label {
	display: none;
}

body.grab > div.messages_wrap {
	border: 1px solid #800000;
}

span.indent {
	white-space: pre-wrap;
}

body.portrait {
	flex-direction: column;
}
body.portrait > div.messages_wrap {
	order: 30;
}
body.portrait > div.canvas {
	order: 10;
	max-height: calc(100vh - 64px);
}

body.landscape div.messages_wrap {
	order: 10;
}
body.landscape > div.canvas {
	order: 30;
}

.resizer {
	order: 20;
	min-height: var(--pad);
	min-width: var(--pad);
	margin: 0;
}

body.portrait .resizer {
	cursor: ns-resize;
}

body.landscape .resizer {
	cursor: ew-resize;
}

body.source .content script {
	display: block;
	clear: both;
}

.content script {
	font: 12px fixed;
	white-space: pre-wrap;
}

pre:has(div.graphviz) {
	float: left;
	margin: 0px 20px 40px 0px;
}

/*
.content script::before {
	content: "<script>";
}
.content script::after {
	content: "</script>";
}
*/

body.image_size_1 .narrative img,
body.image_size_1 .narrative video,
body.image_size_1 .narrative audio,
body.image_size_1 .narrative iframe {
	max-width: min(20vw, 20vh);
	max-height: min(20vw, 20vh);
}

body.image_size_2 .narrative img,
body.image_size_2 .narrative video,
body.image_size_2 .narrative audio,
body.image_size_2 .narrative iframe {
	max-width: min(40vw, 40vh);
	max-height: min(40vw, 40vh);
}

body.image_size_3 .narrative img,
body.image_size_3 .narrative video,
body.image_size_3 .narrative audio,
body.image_size_3 .narrative iframe {
	max-width: min(60vw, 60vh);
	max-height: min(60vw, 60vh);
}

body.image_size_3 .narrative img,
body.image_size_3 .narrative video,
body.image_size_3 .narrative audio,
body.image_size_3 .narrative iframe {
	max-width: min(80vw, 80vh);
	max-height: min(80vw, 80vh);
}


body.image_size_1 .message img,
body.image_size_1 .message video,
body.image_size_1 .message audio,
body.image_size_1 .message iframe {
	max-width: min(10vw, 10vh);
	max-height: min(10vw, 10vh);
}

body.image_size_1 .message img,
body.image_size_1 .message video,
body.image_size_1 .message audio,
body.image_size_1 .message iframe {
	max-width: min(10vw, 10vh);
	max-height: min(10vw, 10vh);
}

body.image_size_1 .message img,
body.image_size_1 .message video,
body.image_size_1 .message audio,
body.image_size_1 .message iframe {
	max-width: min(10vw, 10vh);
	max-height: min(10vw, 10vh);
}

body.image_size_1 .message img,
body.image_size_1 .message video,
body.image_size_1 .message audio,
body.image_size_1 .message iframe {
	max-width: min(10vw, 10vh);
	max-height: min(10vw, 10vh);
}

body.image_size_1 .message img,
body.image_size_1 .message video,
body.image_size_1 .message audio,
body.image_size_1 .message iframe {
	max-width: min(10vw, 10vh);
	max-height: min(10vw, 10vh);
}

body.image_size_1 .message img,
body.image_size_1 .message video,
body.image_size_1 .message audio,
body.image_size_1 .message iframe {
	max-width: min(10vw, 10vh);
	max-height: min(10vw, 10vh);
}

body.image_size_1 .message img,
body.image_size_1 .message video,
body.image_size_1 .message audio,
body.image_size_1 .message iframe {
	max-width: min(10vw, 10vh);
	max-height: min(10vw, 10vh);
}

body.image_size_1 .message img,
body.image_size_1 .message video,
body.image_size_1 .message audio,
body.image_size_1 .message iframe {
	max-width: min(10vw, 10vh);
	max-height: min(10vw, 10vh);
}

body.image_size_1 .message img,
body.image_size_1 .message video,
body.image_size_1 .message audio,
body.image_size_1 .message iframe {
	max-width: min(10vw, 10vh);
	max-height: min(10vw, 10vh);
}
