ALLEMANDE_DOMAIN="allemande.ai"

SERVER="opal"

ALLYCHAT_ADMINS="root lakesun"
ALLYCHAT_MODERATORS="root lakesun"

ALLYCHAT_ADULT="1"
ALLYCHAT_SAFE="0"

ALLEMANDE_PORTAL_CLIENTS="$SERVER"

ALLYCHAT_WEBPUSH_VAPID_PUBLIC_KEY=""
