ALLEMANDE_DOMAIN="allemande.ai"
ALLEMANDE_LOGIN_DOMAIN="allemande.ai"  # or can be login.allemande.ai

SERVER="opal"  # your server's short hostname

ALLYCHAT_ADMINS="root sam"      # replace 'sam' with your admin username
ALLYCHAT_MODERATORS="root sam"  # ^

ALLYCHAT_ADULT="1"
ALLYCHAT_SAFE="0"

ALLEMANDE_PORTAL_CLIENTS="$SERVER"

ALLYCHAT_WEBPUSH_VAPID_PUBLIC_KEY=""
