UNTRUSTED_UID_MIN=60000
UNTRUSTED_UID_MAX=69999
ALLOW_PORTS_MIN=60000
ALLOW_PORTS_MAX=65535
ROUTER_IPv4="192.168.1.1"
ROUTER_IPv6="fd00::1"
IF_LOCAL="lo"
IF_ETHERNET="enp6s0"
TABLE_NAME="remote_user_firewall"
