html {
	margin: 0;
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	width: 100%;
	min-height: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #336;
	align-items: center;
}


#banner {
	width: 100%;
	height: auto;
	max-width: 2048px;
	margin-bottom: 20px;
}

.info {
	text-align: left;
	padding: 40px 60px;
	display: inline-block;
	white-space: nowrap;
	background-color: #112;
	color: #bbf;
	border-radius: 20px;
	font-family: sans-serif;
	font-size: 20px;
	font-weight: 300;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 1);
}

.info a, .info a:visited {
	color: #bfb;
	text-decoration: none;
}

.info p {
	line-height: 1.4;
}

.info a:hover {
	text-decoration: underline;
}

a.button {
	display: inline-block;
	background-color: #333;
	color: #eee;
	text-decoration: none;
	padding: 10px 25px;
	border-radius: 5px;
	font-weight: 500;
	margin-top: 20px;
}

.button:hover {
	background-color: #444;
}

.button.red {
	background-color: #422;
	color: #fcc;
}

.button.red:hover {
	background-color: #633;
}

.button.yellow {
	background-color: #663;
	color: #ffe;
}

.button.yellow:hover {
	background-color: #884;
}

.button.green {
	background-color: #242;
	color: #cfc;
}

.button.green:hover {
	background-color: #363;
}

@media (max-width: 600px) {
	.info {
		padding: 10px 20px;
		font-size: 15px;
	}
}
