body, input, textarea, button, .message, .message > .name, .message > .timestamp { background: midnightblue; color: white; }
input, textarea, button { border: 1px solid cyan; }
button { background: blue; color: white; }
*:disabled { color: grey; }
.message.me > .name { color: lightgreen; }
a:link { color: lightblue; }
a:visited { color: pink; }
/*
body, textarea, input, button { font-size: x-large; }
.message_in { height: 1.5em; }
*/
