:root {
	--theme-mode: dark;
	--background: midnightblue;
	--focus: #339;
	--input: midnightblue;
	--button-focus: #55f;
	--button: blue;
	--frame: black;
	--border: #00dddd;
	--text: #dddddd;
	--link: #00dddd;
}
