:root {
	/* gradient.py --css (0.0, 0.0, 0.0) (0.5, 0.5, 0.5) 8 */
	--col0: #000000;
	--col1: #121212;
	--col2: #242424;
	--col3: #363636;
	--col4: #494949;
	--col5: #5b5b5b;
	--col6: #6d6d6d;
	--col7: #808080;
}
