:root {
	--green1: #001800;
	--green2: #002d0b;
	--green3: #014421;
	--green4: #026641;
	--green5: #039660;

	--text: white;
	--border: black;
	--frame: black;
	--background: var(--green1);
	--input: var(--green2);
	--focus: var(--green3);
	--button: var(--green4);
	--button-focus: var(--green5);
}
