@import url('/themes/light.css');
body, textarea, input, button, a {
	font-size: x-large;
}
:root {
	--pad: 12px;
}
.directory-listing li {
	padding: 8px;
}
pre > code, code, pre > code *, code * {
	font: 18px monospace;
}
