:root {
	/* gradient.py --css .25 .75 8 */
	--col0: #404040;
	--col1: #525252;
	--col2: #646464;
	--col3: #767676;
	--col4: #898989;
	--col5: #9b9b9b;
	--col6: #adadad;
	--col7: #c0c0c0;
	--link: #99bbbb;
}
