:root {
	--theme-mode: light;
	--text: black;
	--border: none; /* #888; */
	--frame: white;
	--input: #aaa;
	--focus: #ccc;
	--background: #eee;
	--button: #bbb;
	--button-focus: #999;
	--link: #003388;
}
