:root {
	--theme-mode: light;
	--text: black;
	--border: #518104;
	--frame: #74a730;
	--input: #ecdf60;
	--focus: #e3eb7b;
	--background: #9ac965;
	--button: #518104;
	--button-focus: #ecca11;
	--link: #008822;
}
