:root {
	--theme-mode: light;
	--col0: #74ccf4;
	--col1: #5abcd8;
	--col2: #31aafa;
	--col3: #2389da;
/*	--col4: #1ca3ec; */
	--col5: #0f5e9c;
	--col6: #0e0e79;
	--col7: black;

	--text: var(--col7);

	--frame: var(--col6);
	--background: var(--col2);
	--input: var(--col5);
	--focus: var(--col3);
	--button: var(--col1);
	--button-focus: var(--col0);
	--link: var(--col6);
}
