:root {
	--theme-mode: light;
	--col0: white;
	--col1: #fde;
	--col2: #fbd;
	--col3: #f9c;
	--col4: #f7b;
	--col5: #f5a;
	--col6: #f39;
	--col7: #f18;

	--text: black;
	--border: var(--col5);
	--frame: var(--col5);
	--input: var(--col4);
	--focus: var(--col3);
	--background: var(--col2);
	--button: var(--col1);
	--button-focus: var(--col0);
	--link: var(--col7);
}
