* {
	box-sizing: border-box;
}
body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	padding: 0.5em;
}
.label {
	margin-right: 1em;
	font-weight: bold;
	float: left;
}
.message.me > .label { color: blue; }
.content {
	margin: 0 1em 0 1em;
}
#status {
	position: fixed;
	top: 0.5em;
	right: 0.5em;
}

/* TODO: this isn't needed, could be a user style */
h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote, figure, figcaption {
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
}

.message img, .message video, .message audio, .message iframe {
	vertical-align: top;
	margin: 4px;
	max-width: 75vw;
	max-height: 75vh;
}
